{% extends 'index_page.html' %}
{% block content %}
{% load static %}


<style>
    .error{
        color: red;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        display: block;
        margin-left: 5px;
        margin-top: -5px;
        margin-bottom: 5px;
        max-width: 350px;
        word-wrap: break-word;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        display: flex;
        gap: 3px;
        color: royalblue;
        margin-top: 10px;
    }
    .main{
        display: flex;
        margin-top: 35px;
        gap: 10px;
    }
    form{
        background-color: whitesmoke;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 30px;
        margin-top: 7px;
    }
    .head{
        margin-bottom: 20px;
        margin-top: -20px;
        border-bottom: solid hsla(0, 4%, 89%, 0.762);
        color: black;
        padding-bottom: 15px;
    }
    input{
        width: 350px;
        padding: 7px;
        margin: 5px;
    }
    select{
        width: 350px;
        padding: 7px;
        margin: 5px;
    }
    label {
        display: block;
        font-weight: 600;
        text-align: left;
        margin-top: 15px;
        font-size: 14px;
        margin-left: 7px;
        color: black;
    }
    .companylogo input[type="file"] {
        width: 350px;
        padding: 7px;
        margin-left: 4px;
        margin-top: -2px;
    }
    button{
        width: 100px;
        padding: 7px;
        border-radius: 5px;
        margin-top: 7px;
        margin-bottom: 7px;
        background-color: rgb(17, 160, 17);
        border: none;
        color: white;
        font-size: larger;
        cursor: pointer;
        font-weight: bold;
    }
    button:hover{
        background-color: rgb(33, 121, 33);
    }
    a{
        text-decoration: none;
    }
</style>
<div class="container">
    <div class="logo">
        <div class="logo_name">
            <h5>Job Portal</h5>
        </div>
        <div class="logo_img">
            <img src="{% static 'images/maxresdefault1.jpg' %}" width="38px" height="30px" alt="logo">
        </div>
    </div>
    <div class="main">
        <div class="main1">
            <form method="post" action="" enctype="multipart/form-data" onsubmit="return validateform()">
                {% csrf_token %}
                <div class="head">
                    <h4>Create a new account</h4>
                </div>
                <div>
                    <input type="text" placeholder="Enter the Company name" name="companyname" id="companyname"><br>
                    <span class="error" id="companynameerror"></span>
                </div>
                <div>
                    <input type="email" placeholder="Enter the Company Email ID" name="email" id="email"><br>
                    <span class="error" id="emailerror"></span>
                </div>
                <div>
                    <select name="companyindustry" id="companyindustry">
                        <option value="">Select Industry</option>
                        <option value="1">Technology</option>
                        <option value="2">Finance</option>
                        <option value="3">Education</option>
                        <option value="4">Healthcare</option>
                        <option value="5">Agriculture</option>
                        <option value="6">Energy</option>
                        <option value="7">Telecommunication</option>
                        <option value="8">Real estate</option>
                        <option value="9">Retail</option>
                        <option value="10">Entertainment</option>
                        <option value="11">Construction</option>
                        <option value="12">Mining</option>
                    </select>
                </div>
                <div>
                    <input type="text" placeholder="Enter the Discription about your company" name="discription" id="discription"><br>
                    <span class="error" id="discriptionerror"></span>
                </div>
                <div>
                    <input type="text" placeholder="Enter the Username of the company" name="username" id="username"><br>
                    <span class="error" id="usernameerror"></span>
                </div>
                <div>
                    <input type="password" placeholder="Enter the Password" name="password" id="password"><br>
                    <span class="error" id="passworderror"></span>
                </div>
                <div class="companylogo">
                    <label for="">Upload Company Logo</label>
                    <input type="file" name="companylogo" id="companylogo">
                    <span class="error" id="companylogoerror"></span>
                </div>
                <div>
                    <button type="submit">Sign up</button>
                </div>
                <div>
                    <a href="{% url 'signin' %}">Already have an account</a>
                </div>
            </form>
        </div>
        <div class="main2">
            <img src="{% static 'images/employee_signup.png' %}" height="390px" width="470px" alt="employee_signup">
        </div>
    </div>
</div>
<script>
    function validateform(){
        let isvalid=true;
        document.querySelectorAll(".error").forEach(e=>e.innerText="");



        let companyname=document.getElementById("companyname").value.trim();
        let email=document.getElementById("email").value.trim();
        let companyindustry=document.getElementById("companyindustry").value;
        let discription=document.getElementById("discription").value.trim();
        let username=document.getElementById("username").value.trim();
        let password=document.getElementById("password").value.trim();
        let companylogo=document.getElementById("companylogo").value.trim();
        if(companyname===""){
            document.getElementById("companynameerror").innerText="Company name is required";
            isvalid=false;
        }
        if(email===""){
            document.getElementById("emailerror").innerText="Email ID is required";
            isvalid=false;
        }
        let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(email)) {
                document.getElementById("emailerror").innerText = "Enter a valid email address";
                isvalid = false;
        }
        if(companyindustry === ""){
            alert("Please select a company industry.");
            isvalid = false;
        }

        if(discription===""){
            document.getElementById("discriptionerror").innerText="Discription about your company is required";
            isvalid=false;
        }
        if(username===""){
            document.getElementById("usernameerror").innerText="Username of the company is required";
            isvalid=false;
        }
        let passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,}$/;
            if (!passwordPattern.test(password)) {
                document.getElementById("passworderror").innerText = 
                    "Password must be at least 8 characters, \ninclude an uppercase letter, a lowercase letter, \na number, and a special character!";
                isvalid = false;
        }
        if(companylogo===""){
            document.getElementById("companylogoerror").innerText="Logo of the company is required";
            isvalid=false;
        }
        return isvalid;
    }
</script>

{% endblock %}